body{
    background-color: #011627;
    color: #d6deeb;
}

div.main-content{
    display: flex;
    gap: 10px;
}

input.search-bar{
    width: 100%;
    border-radius: .5rem;
    padding-left: 10px;
    height: 25px;
}

div.submit-form{
    border: 1px solid;
    border-color: white;
}

.submit-form>form{
    display: flex;
    gap: 20px;
}